{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <h1><a href="/">Victor's Uob Life 2019-2020</a></h1>
        </div>
        
        <div class="row">
        
        
            <div class="column left">
                <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="column right">
                {% load static %}
                    <h2>Lifeshoots Highlights</h2>
                    <img src="{% static 'image/c.jpg' %}" width="400" height="350">
                    <br>
                    <img src="{% static 'image/f.jpg' %}" width="400" height="300">
                    <br>
                    <img src="{% static 'image/d.jpg' %}" width="400" height="250">
                    <br>
                    <img src="{% static 'image/x.jpg' %}" width="400" height="300">
                </div>
            </div>
            
        
        </div>
        
     

        <div class="page-footer">
            <h1>Made by Victor Fang</h1> 
        </div>
    </body>
</html>