h1 a {
    color: #806957;
    font-family: 'Quicksand';
    font-size:40px;
}
h2 a {
    color: #db7826;
    font-family: 'Quicksand';
    font-size:15px;
    text-align: center
}
body {
    padding-left: 15px;
}
.page-header {
    background-color: #cf8729f8;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center
}
.page-footer {
    background-color: #da8b24;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-footer h1, .page-footer h1 a, .page-footer h1 a:visited, .page-footer h1 a:active {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center
}
/* 创建三个相等的列 */
.column {
    float: left;
    height: 1000px;
  }
   
  /* 左右侧栏的宽度 */
  .column.left {
    width: 30%;
    text-align: center;
    /* border-right-style:solid;
    border-width:1px; */
  }
 
  /* 中间列宽度 */
  .column.right {
    width: 70%;
    text-align: center;
    /* border-left-style:solid;
    border-width:1px; */
  }
   